body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #020617;
}

nav h1 {
    color: #14b8a6;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #f97316;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg, #14b8a6, #f97316);
}

.hero h2 {
    font-size: 50px;
}

/* SECTION */
.section {
    padding: 80px 20px;
    max-width: 1000px;
    margin: auto;
}

.section h2 {
    color: #14b8a6;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #020617;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 250px;
    border: 1px solid #14b8a6;
}

.card h3 {
    color: #f97316;
}

/* CONTACT */
.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background: #f97316;
    border: none;
    padding: 12px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #ea580c;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
